
/* -------1920--------- */

@media only screen and (min-width:1920px) {

  .container-fluid {
    width: 1903px;
    margin: auto;
  }
  .sechersliderbg h1 {
    font-family: 'Gilda Display';
    font-size: 100px;
  }
  .secpaddclas {
    padding: 78px 0px 113px 0px;
}
.secpadimgbg {
  padding: 0px 0px 110px 0px;
}
.sectestpadd {
  padding-bottom: 110px;
}
.secwe {
  font-size: 38px;
}
.secwe2 a {
  font-size: 28px;
}
.classsectext {
  font-size: 50px;
  margin-top: -92px;
}
.sectest {
  font-size: 60px;
}
.accordion-body h5 {
  font-size: 30px;
}
button.nav-link.col-lg-12 h4 {
  font-size: 32px;
}
button.nav-link.col-lg-12 p {
  font-size: 22px;
}
.accordion-body p {
  font-size: 140px;
  line-height: 91px;
  padding-top: 50px;
}

}



@media only screen and (max-width:1199px) {
  .mobilesec{
    display: block;
    padding-top: 5px;
  }
  .mobilesec2{
    display: none;
  }
  .sec-menu-bgg {
    padding: 0px 10px;
}
  .offcanvas-header {
    background: #000;
}
button.navbar-toggler {
  background: #000;
  height: 55px;
}
div#navbarOffcanvas {
  padding-top: 0px;
}
  .herobacksec {
    padding: 177px 20px 0px 20px;
  } 
  .headermenusec {
    color: #000;
    font-family: 'Roboto';
    padding-bottom: 10px;
}
.navbar-nav.justify-content-center.align-items-center.flex-grow-1.pe-3 {
  align-items: start !important;
}
.secherotext {
  font-size: 57px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  padding: 23px 0px 10px 0px;
  border: 0px !important;
}
button.nav-link {
    font-size: 12px;
}
.product-name {
  font-size: 15px;
}
.product-mrp {
  font-size: 13px;
}
.product-discount {
  font-size: 11px;
}
.product-cart-icon {
  width: 40px;
  height: 40px;
  padding: 7px 0px;
}
.prodict-icons {
  font-size: 19px;
}
.prodict-icons {
  padding: 0px 9px 6px 12px;
}
.name-pro {
  font-size: 25px;
}

.name-detal {
  font-size: 17px;
}
.Countdown-ul {
  width: 29%;
}
.secbybtn {
  font-size: 15px;
  padding: 11px 25px;
}
.srcdubtext {
  margin-top: -130px;
  margin-bottom: 22px;
  padding-left: 40px;
}
.secbesttitle {
  width: 80%;
}
.secindiatext {
  font-size: 18px;
}
.secindiatext2 {
  font-size: 12px;
}
.seclionbg {
  padding: 20px 10px;
}
.googlp p, .namegog {
  font-size: 11px;
}
.insta-bg {
  padding-top: 100px;
}
.sectextfoot p a , .secaddre a , .secaddre{
  font-size: 14px;
}

}


@media only screen and (max-width:991px) {
  .secherotext {
    font-size: 45px;
}
.sec-tab-bg h1 {
  font-size: 80px;
}
.sec-tab-bg2 {
  background-color: #fbfaf1;
  position: relative;
  z-index: 999;
}
div#nav-tab {
  padding-top: 0px;
}
.product-cart-icon {
  width: 60px;
  height: 60px;
  padding: 14px 0px 14px 10px;
}
.product-mrp {
  font-size: 16px;
}
.product-discount {
  font-size: 17px;
}
.product-name {
  font-size: 19px;
}
.deals-bg {
  height: auto;
  margin-bottom: 65px;
}
.Countdown-ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: -218px;
  padding: 10px 0px 0px;
  margin-bottom: 370px;
}
.tittle-day {
  font-size: 50px;
} 
.srcdubtext {
  margin-top: -199px;
  margin-bottom: 137px;
}
.secdumbpadd {
  padding: 50px 0px 0px 0px;
}
.secquick {
  padding-top: 30px;
}
}


@media only screen and (max-width:767px) {
  a.navbar-brand {
    width: 30%;
}.calmenu {
  list-style: none;
  padding-right: 6px;
}
img.img-fluid.sec-logo-img {
  width: 100%;
}
button.navbar-toggler {
  height: 58px;
}
.container-fluid.align-items-start {
  align-items: center !important;
  padding:0px;
}
.calmenu a{
  padding:0;
}
.wb-search-btn.calmenu {
  padding-top: 0px;
}
.secherotext {
  font-size: 39px;
}
.herobtn a {  
  font-size: 16px;
  padding: 11px 22px;
}
.sec-tab-bg h1 {
  font-size: 32px;
}
.sec-herobg {
  padding-bottom: 259px;
}
.sec-tab-bg {
  margin-top: -224px;
}
.product-discount {
  font-size: 21px;
}
.col-sm-3.sec-cart-main-box {
  padding-left: 0;
  display: flex;
  justify-content: center;
}
.tittle-day {
  font-size: 36px;
}
.deals-bg {
  border-radius: 15px;
  padding: 20px 10px !important;
}
.secpade{
  padding-bottom: 20px;
}
.name-pro {
  font-size: 25px;
  padding-top: 20px;
}
.Countdown-ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: -421px;
  padding: 10px 10px 0px 10px;
  margin-bottom: 578px;
  border-radius: 15px;
}
ul.Countdown-ul li p {
  font-size: 11px;
}
ul.Countdown-ul li span {
  font-size: 18px;
}
.tabb .owl-dots {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 30px;
}
.srcdubtext {
  margin-top: -162px;
  margin-bottom: 114px;
}
.tittp {
  font-size: 16px;
  margin-top: -33px !important;
  width: 100%;
}
.bestsecbg {
  padding-top: 5px;
}
.secbesttitle {
  width: 100%;
}
.secwhybtn a {
  font-size: 14px;
  padding: 15px 30px;
}
.seclionbg {
  padding: 20px 10px;
  text-align: center;
}
.googlsliderbg {
  text-align: center;
}
.googlsliderbg img {
  text-align: center;
  width: 20% !important;
  margin: auto;
  padding-bottom: 20px;
}
.secgoogeimg {
 display: none !important;
}
.insta-bg {
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
}
.secdumbimg {
  text-align: center;
}

}

@media only screen and (max-width:565px) {
  .Countdown-ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -500px;
    padding: 10px 10px 0px 10px;
    margin-bottom: 660px;
    border-radius: 15px;
}
}


@media only screen and (max-width:420px){
  .Countdown-ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -504px;
    padding: 10px 10px 0px 10px;
    margin-bottom: 665px;
    border-radius: 15px;
}
}

@media only screen and (max-width:411px){
  .Countdown-ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -456px;
    padding: 10px 10px 0px 10px;
    margin-bottom: 607px;
    border-radius: 15px;
}
}
@media only screen and (max-width:390px){
  .Countdown-ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -476px;
    padding: 10px 10px 0px 10px;
    margin-bottom: 628px;
    border-radius: 15px;
}
}
@media only screen and (max-width:375px){
  .Countdown-ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -456px;
    padding: 10px 10px 0px 10px;
    margin-bottom: 611px;
    border-radius: 15px;
}
}
@media only screen and (max-width:350px){
  .Countdown-ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -451px;
    padding: 10px 10px 0px 10px;
    margin-bottom: 602px;
    border-radius: 15px;
}
}

@media only screen and (max-width:321px){
  .Countdown-ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -421px;
    padding: 10px 10px 0px 10px;
    margin-bottom: 578px;
    border-radius: 15px;
  }
}











/* search area box */

/* responsive design for mobile and table */
@media (min-width: 992px) and (max-width: 1199px) {

  .wb-search-btn > a,
  .wb-signin-btn > a {
    margin-right: 15px;
    font-size: 15px;
  }
}

/* medium screen */
@media (min-width: 768px) and (max-width: 991px) {
 
  .wb-search-btn > a{
    margin-right: 0;
    margin-left: 15px;
    padding: 10px 0;
  }
}

/* small screen */
@media (min-width: 320px) and (max-width: 767px) {
 
  .wb-search-btn > a {
    margin-right: 0;
    margin-left: 15px;
    padding: 10px 0;
  }
}
/* search area box */
